[package]
name = "rydb"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.dev]
strip = true

[profile.release]
strip = true

[dependencies]
chrono = "0.4.24"
tokio = "1.35.1"
